@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
  --primary-color: #111;
  --secondary-color: rgb(250, 246, 246);
  --header-text-color: #B7A063;
  --header-font: 'Fredoka', sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: 'Muli', sans-serif;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

/* Header styling */

.app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
}

.header-text {
  color: var(--header-text-color);
  font-family: var(--header-font);
  font-size: 50px;
  padding-left: 1.5em;
}

.trophy {
  height: 5.5rem;
  width: 3.5rem;
  margin: 0;
}

.section-rule {
  border: none;
  background-color: var(--header-text-color);
  color: var(--header-text-color);
  margin: auto;
  height: 3px;
  width: 65%;
}

/* Maximum notifications alert */

.banner {
  text-align: center;
}

/* Search styling */

form {
  width: 50%;
  margin: auto;
  padding: 1.5em;
}

.search-form {
  background-color: transparent;
  border: 2px solid var(--header-text-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: .5rem 1rem;
  width: 100%;
  color: var(--secondary-color);
  text-align: center;
}

.search-form::placeholder {
  color: var(--secondary-color);
  opacity: 0.75;
}

.search-form:focus {
  outline: none;
  background-color: var(--primary-color);
}

.input-container {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

.fa-search {
  position: absolute;
  bottom: 7px;
  right: -25px;
  height: 24px;
  opacity: 0.75;
}

.fa-sync {
  position: absolute;
  right: -60px;
  bottom: 15px;
  animation: rotate 2s linear infinite;
}

/* Search results and nominations container */

.movie-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin: 0.5rem;
}

/* Column styling */

.search-results {
  width: 50%;
  flex: 1;
  min-width: 300px;
}

.nomination-results {
  width: 50%;
  flex: 1;
  min-width: 300px;
}

.section-header {
  text-align: center;
  color: var(--header-text-color);
  font-family: var(--header-font);
  font-size: 26px;
  font-weight: 400;
}

/* Search results styling */

.movie-results {
  width: 100%;
  margin: 0.1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.img-container {
  position: relative;
  overflow: hidden;
  width: 47%;
  height: auto;
  display: flex;
  justify-content: center;
}

.movie-results img {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: auto;
}

.movie-info {
  position: relative;
  overflow: hidden;
  width: 53%;
  padding: 5px;
  padding-right: 25px;
  text-align: center;
}

/* Button styling */

.btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #f0932b;
  color: var(--secondary-color);
  border-radius: 50px;
  padding: 10px 20px;
  letter-spacing: 1px;
  margin: 0 5px 10px 0;
  font-size: 16px;
  display: inline-block;
  border: none;
}

.btn:hover {
  background-color: #273c75;
  font-weight: bold;
  transform: translate(0, 0.25em);
}

.btn:focus {
  outline: none;
}

.fa-trash-alt {
  color: rgb(99, 95, 95);
}

.fa-heart {
  color: rgb(233, 34, 34);
}

/* Loading is hidden by default until a get request is sent to omdb */
.loading {
  visibility: hidden;
}

/* Rotate loading icon */
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* Media queries */
@media (max-width: 670px) {
  .app-header {
    padding: 0
  }
  .header-text {
    font-size: 30px;
  }
  .trophy {
    height: 3em;
    width: 2em;
  }
  .section-rule {
    width: 80%;
  }
  .banner {
    font-size: 12px;
  }
  form {
    width: 50vw;
    margin: 0;
    margin-left: 20px;
  }
  .movie-content {
    margin: 0 7px 0 7px;;
  }
  .movie-info {
    font-size: 12px;
  }
  .btn {
    font-size: 12px;
    padding: 5px 10px
  }
}