@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
  --primary-color: #111;
  --secondary-color: rgb(250, 246, 246);
  --header-text-color: #B7A063;
  --header-font: 'Fredoka', sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: 'Muli', sans-serif;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}