@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --header-text-color: #B7A063;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

/* Header styling */

.app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
}

.header-text {
  color: var(--header-text-color);
  font-family: 'Fredoka', sans-serif;
  font-size: 50px;
  padding-left: 1.5em;
}

.trophy {
  height: 5.5rem;
  width: 3.5rem;
  margin: 0;
}

.section-rule {
  border: none;
  background-color: var(--header-text-color);
  color: var(--header-text-color);
  margin: auto;
  height: 3px;
  width: 65%;
}

/* Search styling */

form {
  width: 40%;
  margin: auto;
  padding: 1.5em;
}

.search-form {
  background-color: transparent;
  border: 2px solid var(--header-text-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: .5rem 1rem;
  width: 100%;
  color: var(--secondary-color);
  text-align: center;
}

.search-form::placeholder {
  color: var(--secondary-color);
}

.search-form:focus {
  outline: none;
  background-color: var(--primary-color);
}

/* Search results and nominations container */

.movie-content {
  display: flex;
  justify-content: space-around;
}

/* Search results styling */

.movie-results {
  
}

.img-container {
  
}

.movie-info {

}

/* Loading is hidden by default until a get request is sent to omdb */
.loading {
  visibility: hidden;
}