/* Header styling */

.app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
}

.header-text {
  color: var(--header-text-color);
  font-family: var(--header-font);
  font-size: 50px;
}

.trophy {
  height: 5.5rem;
  width: 3.5rem;
  margin: 0;
}

.section-rule {
  border: none;
  background-color: var(--header-text-color);
  color: var(--header-text-color);
  margin: auto;
  height: 3px;
  width: 65%;
}

/* Alert styling */

.banner {
  background-color: #b9e7c4;
  color: var(--primary-color);
  text-align: center;
  padding: 0.25rem;
}

@media (max-width: 600px) {
  .app-header {
    padding: 0;
  }
  .header-text {
    font-size: 30px;
    text-align: center;
    margin: 0.5em
  }
  .trophy {
    height: 3em;
    width: 2em;
  }
  .section-rule {
    width: 90%;
  }
  .banner {
    font-size: 12px;
  }
}